@import url(/OpenSans-VariableFont_wdth\,wght.ttf);

html {
    background-image: url(/assets/bg.jpg)
}

body {
    color: rgba(255, 255, 255, 0.788);
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(/assets/bg.jpg);
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "live live studio studio"
        "live live studio studio"
        "footer footer footer footer";
    margin: 1fr;
    max-width: 2000px;


}

.live {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "image image image"

        "text text text";
    grid-area: live;
    height: auto;
    width: 100%;
    justify-self: center;


}

.studio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "image2 image2 image2"

        "text2 text2 text2";
    grid-area: studio;
    height: auto;
    width: 100%;
    justify-self: center;



}

.image {
    grid-area: image;
    justify-self: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.6);
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-top: 10px;
}


.image2 {
    grid-area: image2;
    justify-self: center;


    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-top: 10px;
}

img {

    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;

}

.image:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.text {
    grid-area: text;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    height: max-content;
    width: 90%;
    justify-self: center;
    text-align: center;

}

.text2 {
    grid-area: text2;
    background-color: rgba(0, 0, 0, 0.2);
    height: max-content;
    padding-top: 20px;
    width: 90%;
    justify-self: center;

    text-align: center;

}




.image2:hover {
    background-color: rgba(255, 255, 255, 0.4);
}



.footer {
    grid-area: footer;
    background-color: rgba(114, 114, 114, 0.11);
margin-bottom: 30px;
    justify-self: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    justify-self: center;

}

.footer p {
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    margin-top: 70px;

}

.header {
    display: grid;
    grid-area: header;
    grid-template-rows: 0.5fr;
    gap: 15px 10px;
    background-color: rgba(114, 114, 114, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    justify-self: center;
    align-self: center;

}




p {
    margin: 16px 20px 16px 20px;
    font-weight: 200;
    line-height: 1.5;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 16px 20px 16px 20px;
    text-align: center;
}


@media (max-width: 1100px) {

    h1 {
        font-size: 22px;
        font-weight: 700;
        margin: 6px 10px 6px 10px;
        text-align: center;
    }

}

@media (max-width: 800px) {

    h1 {
        font-size: 20px;
        font-weight: 700;
        margin: 6px 10px 6px 10px;
        text-align: center;
    }


    body {
        color: rgba(255, 255, 255, 0.788);
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
        background-image: url(/bg.jpg);
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header"
            "live live live live"
            "studio studio studio studio"
            "footer footer footer footer";
    }

    .studio,
    .live {
        justify-self: center;
    }

}